NODE_ROLE=MASTER
PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://syncpage:syncpage@localhost:5432/syncpage?schema=public

RABBITMQ_URL=amqp://syncpage:syncpage@localhost:5672
# آدرس RabbitMQ که نودهای Edge از بیرون بهش وصل می‌شن
RABBITMQ_PUBLIC_URL=amqp://syncpage:syncpage@localhost:5672
RABBITMQ_QUEUE=landing.sync
RABBITMQ_MASTER_QUEUE=form.submission

ADMIN_TOKEN=change-me-admin-token

STATIC_PAGES_PATH=./static_pages
TEMP_PATH=./temp

# آدرس داخلی Master برای دانلود ZIP توسط Edge
MASTER_INTERNAL_URL=http://localhost:3000
PUBLIC_BASE_URL=http://localhost

OUTBOX_POLL_MS=3000
OUTBOX_MAX_ATTEMPTS=10

# فقط روی Edge: شناسه نود ثبت‌شده در پنل
# EDGE_NODE_ID=

# ریپوی گیت‌هاب (برای کامند نصب در پنل)
SYNCPAGE_GITHUB_REPO=rm1dev/SyncPage
SYNCPAGE_GITHUB_BRANCH=main
